<%= form_with(model: payment_method) do |form| %>
  <% if payment_method.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(payment_method.errors.count, "помилка") %> при збереженні:</h2>
      <ul>
        <% payment_method.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, "Назва", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Зберегти", class: "btn btn-primary" %>
  </div>
<% end %>