<%= form_with(model: expense) do |form| %>
  <% if expense.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(expense.errors.count, "помилка") %> при збереженні:</h2>
      <ul>
        <% expense.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :date, t('expenses.date'), class: "form-label" %>
    <%= form.date_field :date, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :amount, t('expenses.amount'), class: "form-label" %>
    <%= form.number_field :amount, step: 0.01, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, t('expenses.description'), class: "form-label" %>
    <%= form.text_area :description, class: "form-control", rows: 3 %>
  </div>

  <div class="mb-3">
    <%= form.label :spender_id, t('expenses.spender'), class: "form-label" %>
    <div class="form-control" style="height: auto; padding: 10px;">
      <% @spenders.each do |spender| %>
        <div class="form-check">
          <%= form.radio_button :spender_id, spender.id, class: "form-check-input" %>
          <%= form.label "spender_id_#{spender.id}", spender.name, class: "form-check-label" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :category_ids, t('expenses.categories'), class: "form-label" %>
    <div class="form-control" style="height: auto; padding: 10px;">
      <% @categories.each do |category| %>
        <div class="form-check">
          <%= check_box_tag 'expense[category_ids][]', category.id, expense.category_ids.include?(category.id), id: "category_#{category.id}", class: "form-check-input" %>
          <%= label_tag "category_#{category.id}", category.name, class: "form-check-label" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :payment_method_ids, t('expenses.payment_methods'), class: "form-label" %>
    <div class="form-control" style="height: auto; padding: 10px;">
      <% @payment_methods.each do |payment_method| %>
        <div class="form-check">
          <%= check_box_tag 'expense[payment_method_ids][]', payment_method.id, expense.payment_method_ids.include?(payment_method.id), id: "payment_method_#{payment_method.id}", class: "form-check-input" %>
          <%= label_tag "payment_method_#{payment_method.id}", payment_method.name, class: "form-check-label" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.submit t('common.save'), class: "btn btn-primary" %>
  </div>
<% end %>