<h1><%= t('expenses.index')%></h1>

<div class="card mb-4">
  <div class="card-body">
    <%= form_with(url: expenses_path, method: :get, class: "row g-3", local: true) do |form| %>
      <div class="col-md-6">
        <%= form.text_field :search, value: params[:search], placeholder: t('expenses.search'), class: "form-control" %>
      </div>
      <div class="col-md-3">
        <%= form.collection_select :category_id, Category.all, :id, :name, { include_blank: t('expenses.all_categories') }, { class: "form-select" } %>
      </div>
      <div class="col-md-3">
        <%= form.collection_select :payment_method_id, PaymentMethod.all, :id, :name, { include_blank: t('expenses.all_payment_methods') }, { class: "form-select" } %>
      </div>
      <div class="col-md-2">
        <%= form.collection_select :spender_id, Spender.all, :id, :name, { include_blank: t('expenses.all_spenders') }, { class: "form-select" } %>
      </div>
      <div class="col-12">
        <%= form.submit t('common.search'), class: "btn btn-primary" %>
        <%= link_to t('common.reset'), expenses_path, class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>

<div class="mb-3 d-flex justify-content-between">
  <%= link_to t('expenses.new'), new_expense_path, class: "btn btn-primary" %>
  <div>
    <span><%= t('common.sort_by')%></span>
    <%= link_to t('expenses.date'), expenses_path(sort: "date", direction: params[:direction] == "asc" && params[:sort] == "date" ? "desc" : "asc", search: params[:search], category_id: params[:category_id], payment_method_id: params[:payment_method_id]), class: "btn btn-sm #{params[:sort] == 'date' ? 'btn-info' : 'btn-outline-info'}" %>
    <%= link_to t('expenses.amount'), expenses_path(sort: "amount", direction: params[:direction] == "asc" && params[:sort] == "amount" ? "desc" : "asc", search: params[:search], category_id: params[:category_id], payment_method_id: params[:payment_method_id]), class: "btn btn-sm #{params[:sort] == 'amount' ? 'btn-info' : 'btn-outline-info'}" %>
    <%= link_to t('expenses.description'), expenses_path(sort: "description", direction: params[:direction] == "asc" && params[:sort] == "description" ? "desc" : "asc", search: params[:search], category_id: params[:category_id], payment_method_id: params[:payment_method_id]), class: "btn btn-sm #{params[:sort] == 'description' ? 'btn-info' : 'btn-outline-info'}" %>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <% if @expenses.any? %>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th><%= t('expenses.date')%></th>
            <th><%= t('expenses.amount')%></th>
            <th><%= t('expenses.description')%></th>
            <th><%= t('expenses.spender')%></th>
            <th><%= t('expenses.categories')%></th>
            <th><%= t('expenses.payment_methods')%></th>
            <th><%= t('expenses.actions')%></th>
          </tr>
        </thead>
        <tbody>
          <% @expenses.each do |expense| %>
            <tr>
              <td><%= expense.date.strftime("%d.%m.%Y") %></td>
              <td><%= number_to_currency(expense.amount, unit: "₴") %></td>
              <td><%= truncate(expense.description, length: 50) %></td>
              <td>
                <% if expense.spender %>
                  <span class="badge bg-primary"><%= expense.spender.name %></span>
                <% else %>
                  <span class="badge bg-secondary"><%= t('expenses.undefined')%></span>
                <% end %>
              </td>
              <td>
                <% expense.categories.each do |category| %>
                  <span class="badge bg-info"><%= category.name %></span>
                <% end %>
              </td>
              <td>
                <% expense.payment_methods.each do |payment_method| %>
                  <span class="badge bg-secondary"><%= payment_method.name %></span>
                <% end %>
              </td>
              <td>
                <%= link_to t('common.show'), expense, class: "btn btn-sm btn-info" %>
                <%= link_to t('common.edit'), edit_expense_path(expense), class: "btn btn-sm btn-warning" %>
                <%= link_to t('common.delete'), expense, method: :delete, data: { turbo_method: :delete, turbo_confirm: t('common.confirmation') }, class: "btn btn-sm btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <div class="d-flex justify-content-center mt-4">
        <%= paginate @expenses %>
      </div>
    <% else %>
      <div class="alert alert-info"><%= t('expenses.no_expenses')%></div>
    <% end %>
  </div>
</div>