<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">Менеджер витрат</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Витрати", expenses_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Платники", spenders_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Категорії", categories_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Способи оплати", payment_methods_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Імпорт/Експорт", import_export_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>